<footer class="footer">
  <div class="container">
    <div>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <a href="">
        <i class="im im-twitter"></i>
      </a>
      <a href="">
        <i class="im im-instagram"></i>
      </a>
      <a href="">
        <i class="im im-facebook"></i>
      </a>
    </div>
    <div>
      <h3>Company Info</h3>
      <ul>
        <li><a href="">All Hotels</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>
  </div>
</footer>

</main>

</body>

</html>