<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" />

  <!-- iconmonstr -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/index.css" />

  <title>QuickBites</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <h1 class="logo">QuickBites</h1>
        <ul class="nav">
          <li>
            <a class="<%= typeof page !== 'undefined' && page === 'index' ? 'active' : '' %>" href="/">Home</a>
          </li>
          <% if(!currentUser){ %>
          <li>
            <a class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
          </li>
          <li>
            <a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Sign
              Up</a>
          </li>
          <% } else { %>
          <li>
            <a href="">Signed In As <%= currentUser.username %></a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>