<%- include ('partials/header') %>

<!-- Showcase + Overlay -->
<section class="section-head">
  <div class="overlay">
    <div class="section-head-inner">
      <h1>QuickBites</h1>
      <h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid,
        aperiam.
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,
        distinctio excepturi fuga, necessitatibus repellat quo mollitia dolorum
        alias harum nobis tempora? Quidem quaerat adipisci, ullam impedit vitae
        aspernatur quam sed.
      </p>
    </div>
  </div>
</section>

<!-- Gallery -->
<section class="section-gallery">
  <div class="gallery">
    <img
      src="https://images.unsplash.com/photo-1564988208597-e5c88b4cd007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1453824979084-c8fd42932378?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
      alt=""
    />

    <img
      src="https://images.unsplash.com/photo-1576343123473-0e7d3a34c5da?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
      alt=""
    />
  </div>
</section>

<!-- Hotels -->
<section class="section-hotels">
  <div class="container">
    <div class="content">
      <h3>QuickBites</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eos
        officia ut a repudiandae eveniet omnis corrupti adipisci suscipit sed,
        aliquam maxime officiis porro nemo optio cumque exercitationem autem ea.
      </p>
      <a href="#" class="btn">Get Started</a>
    </div>
    <div>
      <img
        src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=769&q=80"
        alt=""
      />
    </div>
  </div>
</section>

<%- include ('partials/footer') %>
