<%- include ('partials/header') %>

<!-- Showcase + Overlay -->
<section class="section-head">
  <div class="overlay">
    <div class="section-head-inner">
      <h1>QuickBites</h1>
      <h2>
        Start giving your offline business an online presence today.
      </h2>
      <p>
        <a class="btn" href="/hotels">Get Started</a>
      </p>
    </div>
  </div>
</section>

<!-- Gallery -->
<section class="section-gallery">
  <div class="gallery">
    <img src="/images/gallery1.jpg">
    <img src="/images/gallery2.jpg">
    <img src="/images/gallery3.jpg">
    <img src="/images/gallery4.jpg">
  </div>
</section>

<!-- Hotels -->
<section class="section-hotels">
  <div class="container">
    <div class="content">
      <h3>Freedy's BBQ Joint</h3>
      <p>
        Our featured BBQ joint with the best ribs in the world
      </p>
      <a href="/hotels/5e8d4732e21cfc00170b223b" class="btn">More Info</a>
    </div>
    <div>
      <img src="/images/bbq.jpg" alt="Freedy's BBQ Joint">
    </div>
  </div>
</section>

<%- include ('partials/footer') %>